.page-body {
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(138, 191, 196, 0.2) !important;
  font-size: 20px;
}

.body {
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center !important;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

input {
  background-color: #eee !important;
  color: rgb(0, 0, 0) !important;
  width: 8cm;
}

textarea {
  background-color: #eee !important;
  color: rgb(0, 0, 0) !important;
  font-size: 18px !important;
}

select {
  background-color: #eee !important;
  color: black !important;
  width: 8cm;
}

.center {
  margin: auto;
  width: 100%;
}

.inputV1 {
  width: 10cm;
}

.inputV2 {
  width: 20cm !important;
}

.inputV3 {
  width: 8cm !important;
}

.inputV4 {
  width: 5cm !important;
}

.inputV5 {
  width: 2.5cm !important;
}

.inputV6 {
  width: 4cm !important;
  font-size: 16px !important;
}

.inputV7 {
  width: 8cm;
}

input[type="radio"] {
  border: 0px;
  width: 1em;
  height: 0.8em;
}

/* .submitButton {
} */

.NavLinks {
  color: rgb(188, 241, 239);
  font-size: 24px;
  /* font-weight: bold; */
}

.next {
  float: right;
  /* padding: 10px; */
  margin-top: 20px;
  /* margin-right: 10px; */
  margin-bottom: 20px;
  /* margin-bottom: 5px; */
}

.previous {
  float: left;
  /* padding: 10px; */
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* @media screen and (max-width: 992px) {
  
} */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1200px) {
  .inputV1 {
    width: 10cm;
  }

  .inputV2 {
    width: 12cm !important;
  }

  .inputV3 {
    width: 6cm !important;
  }

  .inputV4 {
    width: 5cm !important;
  }

  .inputV5 {
    width: 2cm !important;
  }

  .inputV6 {
    width: 4cm !important;
    font-size: 16px !important;
  }

  .inputV7 {
    width: 6cm;
  }

  input {
    background-color: #eee !important;
    color: rgb(0, 0, 0) !important;
    width: 6cm;
  }
  select {
    background-color: #eee !important;
    color: black !important;
    width: 6cm;
  }
  h3 {
    font-weight: bold;
    font-size: 20px;
  }

  input[type="radio"] {
    border: 0px;
    width: 0.7em;
    height: 0.8em;
  }

  .page-body {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(138, 191, 196, 0.2) !important;
    font-size: 18px;
  }
}
