.page-body {
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(138, 191, 196, 0.2) !important;
}

h1 {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

input {
  background-color: #eee !important;
  color: rgb(0, 0, 0) !important;
}

textarea {
  background-color: #eee !important;
  color: rgb(0, 0, 0) !important;
}

select {
  background-color: #eee !important;
  color: black !important;
}
