.assessment-div {
  border-style: solid;
  background-color: #f18140 !important;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.assessment-div h3 {
  text-align: center;
}

.blueText {
  color: #00a5b8;
}

.fv2 {
  font-size: 24px;
}
