.details {
  border-style: none;
  margin-left: 100px;
  margin-right: 100px;
  /* z-index: 2; */
}

.db {
  background-color: rgb(255, 255, 255);
}

.form {
  font-size: 20px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
}

.blue {
  color: #00a5b8;
}

.left {
  margin-left: 60px;
  margin-right: 60px;
}

.right {
  margin-left: 60px;
  margin-right: 60px;
}

.NavLinks {
  font-size: 24px;
  /* font-weight: bold; */
}

.next {
  float: right;
  /* padding: 10px; */
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  /* color: #00a5b8 !important; */

  /* margin-bottom: 5px; */
}

.previous {
  float: left;
  /* padding: 10px; */
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.block {
  display: inline-block;
}

.details h1 {
  text-align: center;
}

.block input {
  display: inline;
  width: 7cm;
}

.block input[type="number"] {
  display: inline;
  /* width: 6cm; */
}

/* .block select {
  width: 7cm;
} */

.container {
  text-align: center;
}

.inputV2 {
  width: 24.9cm !important;
}

.inputV3 {
  width: 8cm !important;
}

.inputV4 {
  width: 5cm !important;
}

.inputV5 {
  width: 2cm !important;
}
