.details {
  border-style: none;
  margin-left: 100px;
  margin-right: 100px;
  /* z-index: 2; */
}

.db {
  background-color: rgb(255, 255, 255);
}

.details h1,
.c-details h1 {
  text-align: center;
}

.oc-details,
.ex-details {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  padding-bottom: 20px;
  text-align: center;
}

.co-details {
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  padding-bottom: 20px;
}

.form {
  font-size: 20px;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
}

.blue {
  color: #00a5b8;
}

.block {
  display: inline-block;
}

.left {
  margin-left: 60px;
  margin-right: 60px;
}

.right {
  margin-left: 60px;
  margin-right: 60px;
}

.block input {
  display: inline;
  width: 7cm;
}

.block input[type="number"] {
  display: inline;
  width: 6cm;
}

.block select {
  width: 7cm;
}

.rightIndent {
  margin-left: 25px;
  margin-right: 5px;
}

/* .container {
  column-width: 500px;
  column-gap: 200px;
}

.card {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  padding: 40px;
  margin: 10 10 1em 0;
} */

.card {
  text-align: right;
}

.container {
  text-align: center;
}

.inputV2 {
  width: 20cm !important;
}

.inputV3 {
  width: 8cm !important;
}
